#header { 
	height: 43px;
	background: #f0f0f0;
	line-height: 43px; 
	padding-left: 60px;
	margin-top: 82px;
	border-bottom: 1px solid #e0e0e0;
}
#header span{ 
	font-size: 14px;
}
 
#content{
	width: 100%;
	display: flex;
	background: #f0f0f0;
	height: 855px;
}

/*左侧菜单*/
#nume{
	width: 255px;
	height: 100%;
	background: url(../images/menu_bg_1.png);	
	/*float: left;*/
}
#nume .notice{
	width: 250px;
	background: #f5f5f5;
	height: 45px;
	font-size: 14px;
	line-height: 45px;
	text-align: center;
}
#nume .notice span{
	display: block;
	float: right;
	margin-right: 20px;
}
#nume .notice_m li{
	padding: 10px 0px;
}
#nume .notice_m li a {
	margin-left: 107px;
	font-size: 12px;
	color: white;
}
#nume .notice_m li:hover {
	background: rgba(255,255,255,0.2);
}


/*右侧内容*/
#main{
	flex:1;
	/*width: calc(100%-250px);*/
	padding-left: 10px;
}
#main .add {
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #e0e0e0;
	color: #777;
	font-size: 14px;
	/*margin-bottom: 20px;*/
}
#main .add span{
	color: #333;
}

#main .checkall {
	height: 50px;
	line-height: 50px;
}
#main .cb {
	margin-left: 35px;
	margin-right: 10px;
}

/*input[type="button"] {
	margin-left: 20px;
	background: #4996ee;
	border: 1px solid #e6e6e6;
	height: 23px;
	width: 80px;
	border-radius: 2px;
}*/

#main .main_m {
	border-collapse: collapse;
	width: 100%;
	font-size: 12px;
	text-align: center;
}
#main .main_m td{
	border: 1px solid #e6e6e6;
	padding: 5px;
}
#main .main_m1{
	text-align: center;
	font-weight: bold;
	font-size: 14px;
}
#main .td2{
	text-align: left;
}
#main .editor{
	color: #eba100;
}
#main .del{
	color: #e83240;
}

#main .page{
	height: 40px;
	margin-top: 20px;
	float: right;
	padding-right: 50px;
}
#main .page_2{
	margin-left: 10px;
}