<div class="weui_cells address_down account_page" style="margin-top: 6px">
    <a class="weui_cell" style="padding-top: 14px;padding-bottom: 0;" ui-sref="address-list({id:id})">
        <div class="weui_cell_bd weui_cell_primary">
            <p class="color333" style="margin-bottom: 5px">业主信息</p>
        </div>
        <div class="address_section color999" style="position: relative;left: -20px">
            <span>{{block}}</span><span ng-if="unit">-{{unit}}</span><span ng-if="room">-{{room}}</span>
        </div>
    </a>
    <a class="weui_cell" ui-sref="address-list({id:id})" style="padding-top: 5px;padding-bottom: 5px;">
        <div class="weui_cell_bd weui_cell_primary">
            <p></p>
        </div>
        <div class="people_name color999" style="position: relative;left: -10px">
            {{ownerName}}
        </div>
        <img src="images/right_arrow.png" style="height: 18px">
    </a>
    <a class="weui_cell ofen_address" style="padding-top: 0;padding-bottom: 10px">
        <div class="weui_cell_hd" ng-click="change_flag()"
             ng-class="{'img_active':id==activeId,'dis_active':id!=activeId}">
        </div>
        <div class="weui_cell_bd weui_cell_primary">
            <p style="position: relative;top: 2px;left: 10px" class="color_bbb" ng-if="id!=activeId">
                设为我的常用地址
            </p>

            <p style="position: relative;top: 2px;left: 10px" class="color_bbb" ng-if="id==activeId">
                我的常用地址
            </p>
        </div>
    </a>
</div>
<div class="weui_cells_title color333" style="padding-bottom: 4px">待缴费信息
    <small><span class="account_record" style="float: right;color: #4996ee;position:relative;top: 2px"
                 ui-sref="payment-list({id:2185})">缴费记录</span></small>
</div>

<div ng-if="payments">
    <div class="weui_cells address_down account_page" ng-repeat="payment in payments"
         ng-class="!$first?'pos_up':''">
        <div class="weui_cell" href="javascript:;">
            <div class="weui_cell_hd">
                <input type="checkbox" ng-model="payment.selected" ng-checked="sel"
                       ng-change="updateYearmonth(payment.yearmonth,payment.selected)" id="all_sel{{payment.yearmonth}}"
                       class="vis_none">
                <label for="all_sel{{payment.yearmonth}}" ng-if="payment.selected" class="label_account"></label>
                <label for="all_sel{{payment.yearmonth}}" ng-if="!payment.selected" class="label_account_click"></label>
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                <p class="pos_lef color777" style="position: relative;top: 4px">{{payment.yearmonth}}</p>
            </div>
            <div class="should_info color777">
                应缴金额
            </div>
        </div>
        <div class="weui_cell" href="javascript:;" ng-repeat="ele in payment.eles" ng-class=" $first ? 'border_line':''"
             style="padding-top: 0;padding-bottom: 0">
            <div class="weui_cell_hd">
                <input ng-checked="payment.selected" ng-model="ele.selected" type="checkbox" id="ele{{ele.id}}"
                       ng-change="update(ele)" class="vis_none">
                <label for="ele{{ele.id}}" ng-if="ele.selected" class="label_account"></label>
                <label for="ele{{ele.id}}" ng-if="!ele.selected" class="label_account_click"></label>
            </div>
            <div class="weui_cell_hd">
                <img ng-if="ele.type==0" src="images/water.png" alt="icon" class="icon_small" style="margin-top: 1px">
                <img ng-if="ele.type==1" src="images/ele.png" alt="icon" class="icon_small" style="margin-top: 2px">
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                <p ng-if="ele.type==0" style="position: relative;top: 3px" class="color333">水费</p>

                <p ng-if="ele.type==1" style="position: relative;top: 3px" class="color333">电费</p>
            </div>
            <div class="color333">
                {{ele.amount}}元
            </div>
        </div>

        <div class="detail_free" style="background-color: #ffffff;">
            <div class="top_arrow color_aaa" ng-click="freeShow = !freeShow"
                 style="height: 30px;text-align: right;padding: 0px 15px;"><span
                    ng-if="freeShow" class="color999">详情<img src="images/up_arrow.png"
                                                             style="width: 24px;height: 24px"></span><span
                    ng-if="!freeShow" class="color999">详情<img src="images/down_arrow.png"
                                                              style="width: 24px;height: 24px"></span>
            </div>
            <div ng-show="freeShow" style="padding:0 15px">
                <div style="text-align: center" class="color_aaa">
                    <small><span style="float: left;margin-top: 2px">类别</span><span>本月表数-上月表数</span><span
                            style="float: right;margin-top: 2px">用量</span>
                    </small>
                </div>
                <div class="color777" style="text-align: center;padding: 4px 0" ng-repeat="detail in payment.eles ">
                    <span ng-if="detail.type==0" style="float: left">水费</span>
                    <span style="float: left" ng-if="detail.type==1">电费</span>
                    {{detail.number}}
                    <span style="float: right">{{detail.count}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="free_info color555" style="text-align: center;font-size: 12px;padding: 10px 15px 4px;">
        计费标准参考：水费-0.35元/m³ 电费-0.50元/°
    </div>
</div>
<div ng-if="!payments" style="text-align: center;margin-top: 20%">暂无待缴费信息</div>
<div class="weui_cells acc_footer" style="font-size: 16px">
    <div class="weui_cell" style="padding-top: 0px;padding-bottom: 0px">
        <div class="weui_cell_hd">
            <input type="checkbox" ng-model="sel" ng-change="updateAll(sel)" id="sel_all" class="vis_none"
                   ng-disabled="!selected">
            <label for="sel_all" ng-if="sel" class="label_account" style="margin-top: -2px"></label>
            <label for="sel_all" ng-if="!sel" class="label_account_click" style="margin-top: -2px"></label>
        </div>
        <div class="weui_cell_bd weui_cell_primary" style="margin-top: 2px;flex: 1">
            <p style="display: inline" class="pos_lef color333">本页全选</p>
        </div>
        <div class="weui_cell_bd weui_cell_primary" style="float:left;margin-top:4px;flex: 1.6;">
            <span class="color333">合计:</span><span style="color: #f23737">￥{{total| number:2}}</span><span
                ng-if="!payments" style="color: #f23737">0.00</span>
        </div>
        <button class="weui_btn weui_btn_mini weui_btn_primary my_btn btn_press account_btn"
                ui-sref="payment({block:block,unit:unit,room:room})" ng-disabled="selected.length==0||!selected">结算
        </button>
    </div>
</div>
<div class="hidden_footer"></div>

