<div class="weui_cells weui_cells_access address_down page_pay">
    <a class="weui_cell" href="javascript:;">
        <div class="weui_cell_bd weui_cell_primary">
            <p>缴费户号</p>
        </div>
        <div class="address_section">
            <span>{{floor}}</span><span ng-if="unit">-{{unit}}</span><span ng-if="room">-{{room}}</span>
        </div>
    </a>
</div>
<div class="weui_cells weui_cells_access address_down page_pay">
    <a class="weui_cell" href="javascript:;">
        <div class="weui_cell_hd">
            <img src="images/water.png" alt="icon" style="width:12px;margin-right:5px;display:block">
        </div>
        <div class="weui_cell_bd weui_cell_primary">
            <p>水费</p>
        </div>
        <div class="no_img">
            应缴金额
        </div>
    </a>
    <a class="weui_cell" href="javascript:;">
        <div class="weui_cell_bd weui_cell_primary">
            <p>账期</p>
        </div>
        <div class="should_info">
            <span ng-if="watmonth">{{watmonth}}</span>月
        </div>
    </a>
    <a class="weui_cell" href="javascript:;">
        <div class="weui_cell_bd weui_cell_primary">
            <p>应付金额</p>
        </div>
        <div class="no_img">
            ￥<span ng-if="waterFr">{{waterFr|number:2}}</span>元
        </div>
    </a>
</div>
<div class="weui_cells weui_cells_access address_down page_pay">
    <a class="weui_cell sel_img" href="javascript:;">
        <div class="weui_cell_hd">
            <img src="images/ele.png" alt="icon" style="width:12px;margin-right:5px;display:block">
        </div>
        <div class="weui_cell_bd weui_cell_primary">
            <p>电费</p>
        </div>
        <div class="no_img">
            应缴金额
        </div>
    </a>
    <a class="weui_cell sel_img" href="javascript:;">
        <div class="weui_cell_bd weui_cell_primary">
            <p>账期</p>
        </div>
        <div class="should_info">
            <span ng-if="elmonth">{{elmonth}}</span>月
        </div>
    </a>
    <a class="weui_cell sel_img" href="javascript:;">
        <div class="weui_cell_bd weui_cell_primary">
            <p>应付金额</p>
        </div>
        <div class="no_img">
            ￥<span ng-if="eleFr">{{eleFr|number:2}}</span>元
        </div>
    </a>
</div>
<div class="weui_cells weui_cells_access address_down page_pay">
    <a class="weui_cell" href="javascript:;">
        <div class="weui_cell_bd weui_cell_primary">
            <p>支付金额</p>
        </div>
        <div class="address_section">
            ￥<span>{{waterFr+eleFr|number:2}}</span>元
        </div>
    </a>
</div>
<div class="weui_cells weui_cells_access address_down page_pay" ng-click="toggle()">
    <a class="weui_cell sel_img" href="javascript:;">
        <div class="weui_cell_hd">
            <img src="images/wetalk_big.png" alt="icon" style="width:30px;margin-right:5px;display:block">
        </div>
        <div class="weui_cell_bd weui_cell_primary">
            <p>微信支付</p>
        </div>
        <div class="no_img">
            <!--<img src="{{flg_src}}" style="width: 24px">-->
            <img src="images/right.png" style="width: 24px">
        </div>
    </a>
</div>
<div class="address_btn">
    <div class="friends_paid">找人代付(可以请朋友帮你付款)</div>
    <a href="javascript:;" class="weui_btn weui_btn_primary length_btn we_btn" ng-click="money_payment()">确认支付</a>
</div>
