<div ng-repeat="record in records">
    <div class="weui_cells_title title_style body_normal">{{record.payDate}}</div>
    <div class="weui_cells weui_cells_access address_down page_pay">
        <a class="weui_cell" href="javascript:;">
            <div class="weui_cell_bd weui_cell_primary">
                <p>{{record.block}}<span ng-if="record.unit">-{{record.unit}}</span><span ng-if="record.room">-{{record.room}}</span></p>
            </div>
            <div class="no_img">
                {{record.amount}}元
            </div>
        </a>
        <a class="weui_cell" href="javascript:;" ng-if="record.type==0">
            <div class="weui_cell_hd">
                <img src="images/water.png" alt="icon" style="width:12px;margin-right:5px;display:block">
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                <p>水费</p>
            </div>
            <div class="should_info">
            <span>
                {{record.year}}年{{record.month}}月
            </span>
            </div>
        </a>
        <a class="weui_cell" href="javascript:;"  ng-if="record.type==1">
            <div class="weui_cell_hd">
                <img src="images/ele.png" alt="icon" style="width:12px;margin-right:5px;display:block">
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                <p>电费</p>
            </div>
            <div class="no_img">
            <span>
                {{record.year}}年{{record.month}}月
            </span>
            </div>
        </a>
    </div>
</div>