<!-- <head-bar title="登录" on-back="onBack()"></head-bar> -->
<div id="login-container">
	<div class="code-container tel-container">
		<span class="tel-prefix">+86</span>
		<input id="tel" class="tel code" ng-class="{true:'tel-edit'}[tel!='']" type="text" placeholder="请输入11位手机号码" 
			ng-model="tel" maxlength="11" ng-disabled=authCodeSending />
	</div>
	<div class="code-container auth-code-container">
		<input id="auth-code" class="auth-code code" ng-class="{true:'auth-code-edit'}[authCode!='']" type="text" placeholder="请输入手机验证码" 
			ng-model="authCode" maxlength="4" ng-disabled=disableAuthCode ng-init="disableAuthCode=true" />
		<a class="send-auth-code" ng-disabled=tel.length!=11 ng-class="{true: 'send-auth-code-disable'}[tel.length!=11]" 
			href="javascript:void(0)" ng-hide="authCodeSending" ng-click="sendAuthCode()" ng-bind="sendText" ng-init="sendText='发送验证码'">发送验证码</a>
		<span class="resend-time" ng-bind="resendTime" ng-show="authCodeSending" ng-init="authCodeSending=false">60s</span>
	</div>
	<button class="login-button" ng-disabled=authCode.length!=4 ng-class="{true: 'login-button-disable'}[authCode.length!=4]" ng-click="login()">验证并登录</button>
	<p class="tip">
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;温馨提示：未注册米饭公社账号的手机号码，登录时将自动注册米饭公社账号，且代表您已经同意
		<a class="user-license-link" href="javascript:void(0)" ui-sref="user-agreement">《米饭公社用户协议》</a>
	</p>
	<div class="verify-tip-container" ng-show="verifyError" ng-init="verifyError=false">
		<span class="verify-tip" ng-init="verifyTip='请输入正确的手机号码'" ng-bind="verifyTip">请输入正确的手机号码</span>
	</div>
</div> 