<div id="home-container">
    <a class="village" ng-click="changeCommunity()">
        <span ng-bind="communityName" class="community-name">阿尔卡...</span>
        <img src="images/right_arrow.png" style="height: 14px;position: relative;top: -1px;left: 4px">
    </a>
    <div class="carousel-demo">
        <ul rn-carousel rn-carousel-index="carouselIndex7"  rn-carousel-auto-slide ="5" class="carousel5">
            <li ng-repeat="slide in slides7 track by slide.id">
                    <a ng-if="$index!=1">
                        <img ng-src={{slide.img}} style="height: 100%;width: 100%">
                    </a>
                <a ng-if="$index==1" href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx7ebe0163418bd072&redirect_uri=http%3A%2F%2Ffinance.4zlink.com%2Fcommonweal-frontend%2F%23%2Finfo&response_type=code&scope=snsapi_base&state=123&from=groupmessage&isappinstalled=0#wechat_redirect">
                    <img ng-src={{slide.img}} style="height: 100%;width: 100%">
                </a>
            </li>
        </ul>
        <div rn-carousel-indicators ng-if="slides7.length > 1" slides="slides7" rn-carousel-index="carouselIndex7"></div>
    </div>
    <div class="home_nav">
        <a ui-sref="bill">
            <img src="images/water_free.png">
            <p>水电缴费</p>
        </a>
        <a ui-sref="repair">
            <img src="images/repair.png">
            <p>物业报修</p>
        </a>
        <a ui-sref="complain">
            <img src="images/complaint.png">
            <p>投诉建议</p>
        </a>
        <a ui-sref="notice">
            <img src="images/notice.png">
            <p>物业公告</p>
        </a>
    </div>
    <div class="tab_nav row">
        <div class="col-xs-4"  ui-sref="home.shop-info({site:1})"><span ng-class="{'nav_active':site==1}">爱车养护</span></div>
        <div class="col-xs-4"  ui-sref="home.shop-info({site:2})"><span ng-class="{'nav_active':site==2}">家政服务</span></div>
        <div class="col-xs-4"  ui-sref="home.shop-info({site:3})"><span ng-class="{'nav_active':site==3}">在线问诊</span></div>
    </div>
    <div ui-view></div>
    <confirm-modal title="modalTitle" tip="modalTip" tip-align="tipAlign" show="showModal" cancel-text="cancelText" ok-text="okText" 
        only-ok-button="onlyOkButton" on-close="onModalClose(state)"></confirm-modal>
</div>
