<div id="native-home-container">
    <a class="location-city" ng-bind="cityName" ng-click="changeCity()">北京</a>
    <div class="slogan-container">
        <span class="main-slogan">米饭公社</span><br/>
        <span class="secondary-slogan">尽享科技新生活</span>
    </div>
    <div class="carousel-container">
        <ul rn-carousel rn-carousel-index="carouselIndex" rn-carousel-auto-slide=5 class="carousel"> 
            <li ng-repeat="slide in slides track by slide.id">
                <a>
                    <img ng-src={{slide.img}} class="carousel-image">
                </a>
            </li>
        </ul>
        <div rn-carousel-indicators ng-if="slides.length > 1" slides="slides" rn-carousel-index="carouselIndex"
            class="rn-carousel-indicators"></div>
    </div>
    <div class="main-menus menus-container">
        <ul class="menus">
            <li class="menu-item">
                <a class="menu service">物业服务</a>
            </li>
            <li class="menu-item">
                <a class="menu resource">达人资源</a>
            </li>
            <li class="menu-item">
                <a class="menu travel" ng-click="go('sxtx')">盛行天下</a>
            </li>
            <li class="menu-item">
                <a class="menu communication">邻里沟通</a>
            </li>
        </ul>
    </div>
    <div class="second-menus menus-container">
        <div class="left-container">
            <a class="menu repair" ui-sref="repair">
                <span>物业报修</span><br/>
                <span class="menu-tip">24小时，上门服务</span>
            </a>
        </div>
        <div class="right-container">
            <div class="top-container">
                <a class="menu complain" ui-sref="complain">
                    <span>物业投诉</span><br/>
                    <span class="menu-tip">及时反馈</span>
                </a>
            </div>
            <div class="bottom-container">
                <a class="menu pay" ui-sref="bill">
                    <span>水电缴费</span><br/>
                    <span class="menu-tip">足不出户</span>
                </a>
            </div>
        </div>
    </div>
    <div class="third-menus menus-container">
        <div class="left-container">
            <a class="menu nearby">
                <span>智能周边</span><br/>
                <span class="menu-tip">快捷出行必备</span>
            </a>
        </div>
        <div class="right-container">
            <a class="menu other">
                <span>其它服务</span><br/>
                <span class="menu-tip">正在开发</span>
            </a>
        </div>
    </div>
    <confirm-modal title="modalTitle" tip="modalTip" tip-align="tipAlign" show="showModal" cancel-text="cancelText" ok-text="okText" 
        only-ok-button="onlyOkButton" on-close="onModalClose(state)"></confirm-modal>
</div>
