<div class="weui_cells weui_cells_access address_down">
    <div class="weui_cell" ui-sref="address-city">
        <div class="weui_cell_bd weui_cell_primary">
            <p style="margin-top: 10px;">城市</p>
        </div>
        <!-- <div class="weui_cell_ft">
            廊坊市
        </div> -->
        <div ng-if="vm.city" class="weui_cell_ft" name="block">
            {{vm.city}}
        </div>
        <div ng-if="!vm.city" class="weui_cell_ft" name="city">
            请选择{{vm.city}}
        </div>
    </div>

    <div class="weui_cell" ui-sref="address-village">
        <div class="weui_cell_bd weui_cell_primary">
            <p style="margin-top: 10px;">小区</p>
        </div>
        <div ng-if="vm.village" class="weui_cell_ft" name="block">
            {{vm.village}}
        </div>
        <div ng-if="!vm.village" class="weui_cell_ft" name="village">
            请选择
        </div>
    </div>

    <div class="weui_cell" ui-sref="address-block">
        <div class="weui_cell_bd weui_cell_primary">
            <p style="margin-top: 10px;">楼号</p>
        </div>
        <div ng-if="vm.block" class="weui_cell_ft" name="block">
            {{vm.block}}
        </div>
        <div ng-if="!vm.block" class="weui_cell_ft" name="block">
            请选择
        </div>
    </div>
    <div class="weui_cell" ng-disabled="type==0">
        <div class="weui_cell_bd weui_cell_primary">
            <p style="margin-top: 10px;" ng-class="vm.unit?'':'color_ccc'">单元</p>
        </div>
        <div ng-if="vm.unit" class="weui_cell_ft" name="block">
            {{vm.unit}}
        </div>
        <div ng-if="!vm.unit" class="weui_cell_ft color_ccc" name="unit">
            请选择
        </div>
    </div>
    <div class="weui_cell" ng-disabled="type==0||type==3">
        <div class="weui_cell_bd weui_cell_primary">
            <p style="margin-top: 10px;" ng-class="vm.room?'':'color_ccc'">门牌号</p>
        </div>
        <div ng-if="vm.room" class="weui_cell_ft" name="block">
            {{vm.room}}
        </div>
        <div ng-if="!vm.room" class="weui_cell_ft color_ccc" name="room">
            请选择
        </div>
    </div>
    <div class="weui_cell address_detail" href="javascript:;">
        <span class="sure_address" style="margin-top: 10px;">
            确认:
        </span>
        <span class="right_detail" style="margin-top: 10px;">
            <div>
                {{vm.city}}<span>{{vm.block}}</span><span ng-if="vm.unit">-{{vm.unit}}</span><span ng-if="vm.room">-{{vm.room}}</span>
            </div>
            <div>
                <span>{{vm.username}}</span>                
            </div>
        </span>
    </div>
</div>

<!--下一步按钮-->
<div class="address_btn">
    <button class="weui_btn weui_btn_primary length_btn"
            ui-sref="bill({block:vm.block,unit:vm.unit,room:vm.room,id:vm.id,username:vm.username})"
            ng-disabled="!vm.block||(!vm.unit&&type==2)||(!vm.room&&type==3)"
            ng-class="{'disabled':!vm.block||(!vm.unit&&type==2)||(!vm.room&&type==3)}" style="font-size: 16px"
            ng-click="vm.add_newaddress()">下一步
    </button>
</div>
<!--提示框-->
<div class="weui_dialog_confirm" style="display: none">
    <div class="weui_mask"></div>
    <div class="weui_dialog">
        <div class="weui_dialog_hd"><strong class="weui_dialog_title">确定要放弃本次编辑</strong></div>
        <div class="weui_dialog_ft">
            <a href="javascript:;" class="weui_btn_dialog default small_color">确定</a>
            <a href="javascript:;" class="weui_btn_dialog primary small_color">取消</a>
        </div>
    </div>
</div>
