<div id="payment-container">
    <div class="weui_cells address_down page_pay">
        <a class="weui_cell" href="javascript:;">
            <div class="weui_cell_bd weui_cell_primary">
                <p class="color333 margintop">缴费户号</p>
            </div>
            <div class="address_section color999" style="text-align:right">
                {{community}}<br>
                <span>{{block}}</span><span ng-if="unit">-{{unit}}</span><span ng-if="room">-{{room}}</span>
            </div>
        </a>
    </div>
    <!-- 物业费、车位维护费、车位费 -->
    <div class="weui_cells address_down page_pay" ng-repeat="bill in otherBillList">
        <a class="weui_cell" href="javascript:;">
            <div class="weui_cell_hd">
                <img src="images/property.png" alt="icon" class="fee-icon" ng-show="bill.type==2">
                <img src="images/car-maintenance.png" alt="icon" class="fee-icon" ng-show="bill.type==3">
                <img src="images/car-port.png" alt="icon" class="fee-icon life-fee-icon" ng-show="bill.type==4">
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                <p class="color333 fee-type" ng-show="bill.type==2">物业费</p>
                <p class="color333 fee-type" ng-show="bill.type==3">车位维护费</p>
                <p class="color333 fee-type" ng-show="bill.type==4">车位费</p>
            </div>
        </a>
        <a class="weui_cell" href="javascript:;" style="padding-top: 10px;padding-bottom: 0px">
            <div class="weui_cell_bd weui_cell_primary">
                <p class="color999">账期</p>
            </div>
            <div class="should_info color999" style="position: relative;top: -4px">
                <span ng-bind="bill.date"></span>
            </div>
        </a>
        <a class="weui_cell no-border-top" href="javascript:;" style="padding-top: 0px;padding-bottom: 4px">
            <div class="weui_cell_bd weui_cell_primary">
                <p class="color555">应付金额</p>
            </div>
            <div class="no_img color333" style="position: relative;top: -4px">
                ￥<span>{{bill.amount|number:2}}</span>元
            </div>
        </a>
    </div>
    <!-- 水费 -->
    <div class="weui_cells address_down page_pay" ng-if="wDates&&wDates.length>0">
        <a class="weui_cell" href="javascript:;">
            <div class="weui_cell_hd">
                <img src="images/water.png" alt="icon" class="fee-icon life-fee-icon">
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                <p class="color333 fee-type">水费</p>
            </div>
        </a>
        <a class="weui_cell" href="javascript:;" style="padding-top: 10px;padding-bottom: 0px">
            <div class="weui_cell_bd weui_cell_primary">
                <p class="color999">账期</p>
            </div>
            <div class="should_info color999" style="position: relative;top: -4px">
                <span ng-if="wBillDate">{{wBillDate}}</span>
            </div>
        </a>
        <a class="weui_cell no-border-top" href="javascript:;" style="padding-top: 0px;padding-bottom: 4px">
            <div class="weui_cell_bd weui_cell_primary">
                <p class="color555">应付金额</p>
            </div>
            <div class="no_img color333" style="position: relative;top: -4px">
                ￥<span ng-if="waterFee">{{waterFee|number:2}}</span>元
            </div>
        </a>
    </div>
    <!-- 电费 -->
    <div class="weui_cells address_down page_pay" ng-if="eDates&&eDates.length>0">
        <a class="weui_cell sel_img" href="javascript:;">
            <div class="weui_cell_hd">
                <img src="images/ele.png" alt="icon" class="fee-icon life-fee-icon">
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                <p class="color333 fee-type">电费</p>
            </div>
        </a>
        <a class="weui_cell sel_img" href="javascript:;" style="padding-top: 10px;padding-bottom: 0px">
            <div class="weui_cell_bd weui_cell_primary">
                <p class="color999">账期</p>
            </div>
            <div class="should_info color999" style="position: relative;top: -4px">
                <span ng-if="eBillDate">{{eBillDate}}</span>
            </div>
        </a>
        <a class="weui_cell sel_img no-border-top" href="javascript:;" style="padding-top: 0px;padding-bottom: 4px">
            <div class="weui_cell_bd weui_cell_primary">
                <p class="color555">应付金额</p>
            </div>
            <div class="no_img color333" style="position: relative;top: -4px">
                ￥<span ng-if="elecFee">{{elecFee|number:2}}</span>元
            </div>
        </a>
    </div>
    <div class="weui_cells address_down page_pay">
        <a class="weui_cell" href="javascript:;" style="margin-top: 5px">
            <div class="weui_cell_bd weui_cell_primary">
                <p class="color333">支付金额</p>
            </div>
            <div class="address_section pay-money" style="font-size: 18px; position: relative;top: -4px">
                ￥<span>{{totalFee|number:2}}</span>元
            </div>
        </a>
    </div>
    <div class="weui_cells address_down page_pay" ng-click="toggle()">
        <a class="weui_cell sel_img" href="javascript:;">
            <div class="weui_cell_hd">
                <img src="images/wetalk_big.png" alt="icon" style="width:30px;margin-right:5px;display:block">
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                <p class="color333 pay-type-text">微信支付</p>
            </div>
            <div class="no_img">
                <!--<img src="{{flg_src}}" style="width: 24px">-->
                <img src="images/selected-red-right.png" style="width: 24px">
            </div>
        </a>
    </div>
    <div class="address_btn">
        <!--<div class="friends_paid">找人代付(可以请朋友帮你付款)</div>-->
        <a class="weui_btn weui_btn_primary length_btn we_btn focus_none btn_press" ng-click="pay()">确认支付</a>
    </div>
    <c-transparent-mask show="showTransparentMask"></c-transparent-mask>
</div>