.agreement-statement{
	.content-wrapper{
		padding: 9px 13px;
		h1{
			text-align: center;
		}

		h2{
			font-size: 15px;
			color: #333;
			font-weight: 700;
		}

		.content{
			font-size: 14px;
			color: #555;
		}
	}
}