#complain_list{
	.item_service{
		margin-top: 5px;
		background: white;
	}
	
}
.replied_state{
	color: #e6b417;
    background: url(../images/change_address.png) no-repeat;
    display: block;
    width: 55px;
    height: 25px;
    text-align: right;
    background-size: 35%;
    background-position: 8px 6px;
}
.replied_state:hover{
	color: #e6b417;
}
#complain_add{
	.mobile{
		margin-top: 10px;
		background: white!important;
		color: #999;
	}
	.privacy_protection{
		color: #999;
		font-size: 14px;
		text-align: left;
		margin-top: 5px;
	}
	.tel-edit{
	    font-family:arial,sans-serif;
	}
}

.com_address{
	color: #999;
	background: white;
	line-height: 30px;
	padding-left: 5px;
	border-radius: 5px;
	border: 1px solid #e0e0e0;
}

.com_left,.com_right{
	display: inline-block;
}
.com_right{
	float: right;
	margin-right: 5px;
}


#complain_detail{
	height: 100%;
	background: #fff;
	padding-top: 21px;
	.complaint_title{
		font-size: 15px;
		/*margin-top: 21px;*/
	}
	.property_detail{
		color: #777;
	}
}