#complain_list{
	.item_service{
		margin-top: 5px;
		background: white;
	}
	
}
.repliedstate{
	color: #e6b417;
}
#complain_add{
	.mobile{
		margin-top: 10px;
		background: white!important;
	}
	.privacy_protection{
		color: #999;
		font-size: 14px;
		text-align: center;
		margin-top: 5px;
	}
}

.com_address{
	background: white;
	line-height: 30px;
	padding-left: 5px;
	border-radius: 5px;
	border: 1px solid #e0e0e0;
}

.com_left,.com_right{
	display: inline-block;
}
.com_right{
	float: right;
	margin-right: 5px;

	img{
		width: 25px;
	}
}