#native-home-container{
	font-family: 微软雅黑;

	.flip-container{
	    width: 100%;
	    top: 0px;
	    bottom: 51px;
	    left: 0px;
	    position: absolute;
		perspective:1000;
		transition: 0.6s;
		transform-style:preserve-3d;

		.front, .back{
			width: 100%;
			height: 100%;
			backface-visibility: hidden;
			position: absolute;
			left: 0px;
			top: 0px;
		}

		.front{
			z-index: 1;
		}

		.back{
			transform: rotateY(180deg);
		}
	}

	.flip-container.flip{
		transform: rotateY(180deg);
	}

	.bottom-nav-bar{
	    height: 51px;
	    border-top: solid 1px #e8e8e8;
	    position: absolute;
	    bottom: 0px;
	    width: 100%;
	    left: 0px;
	    font-size: 13px;

	    .nav-link{
    	    width: 50%;
		    display: block;
		    float: left;
		    height: 100%;
		    text-align: center;
		    line-height: 82px;
		    background-repeat: no-repeat;
		    background-size: 32px;
		    background-position: 50% 12%;
	    }

	    .home-nav{
	    	background-image: url('../images/home.png');
	    	color: #B1AFAF;
	    }

	    .home-nav-active{
	    	background-image: url('../images/home-active.png');
	    	color: #F16262;
	    }

	    .account-nav{
	    	background-image: url('../images/account.png');
	    	color: #B1AFAF;
	    }

	    .account-nav-active{
	    	background-image: url('../images/account-active.png');
	    	color: #F16262;
	    }
	}
}