#notice_detail{
	background: white;
	.detail_notice{
		border-bottom: 1px #e6e6e6 solid;
		margin:10px 10px;
		padding: 0px;
		padding-bottom: 10px;
	}
	.detail_notice_time{
		display: block;
		color: #8e8e8e;
		font-weight: normal;
	}
	.detail_notice_message{
		display: block;
		padding: 10px 15px;

		textarea{
			height: 400px;
			border: none;
			color: #555;
		}
		textarea[disabled]{
			color: #555;
		}
	}
}

#notice_list{
	.list{
		background: none;

		.rapeat_list{
			background: white;
			padding: 8px;
			padding-top: 16px;
			margin: 13px;

			span{
				margin-right: 14px;
			}

			.notice_date{
				border-top: 1px solid #e0e0e0;
				color: #777;
			}
		}
	}
}
	