#payment-list-container{
	.payment-date {
	    padding: 6px 15px;
    	text-align: left;
    	font-size: 13px;
    	color: #777;
	}

	.pay-address{
		margin-bottom: 5px;
		font-size: 14px;
		color: #555;
	}

	.fee-icon{
		width: 16px;
		margin-right: 6px;
		margin-top : -2px;
	}

	.car-port-fee-icon{
		width: 15px;
		margin-top: 0px;
		margin-left: 2px;
	}

	.life-fee-icon{
		margin-left: 2px;
		width: 14px;
	}

	.no-border-top:before {
		border-top: none;
	}
}