<div id="account-container">
	<div class="top-container">
		<div class="head-img-container">
			<img class="head-img-border" ng-src="{{headImgBorder}}"/>
			<img class="head-img" ng-src="{{headImgUrl}}"/>
		</div>
		<a class="account-opt" href="javascript:void(0)" ng-bind="nickName" ng-click="login()">登录/注册</a>
	</div>
	<div class="bottom-container">
		<ul>
			<li>
				<a class="menu-item" href="javascript:void(0)" ng-click="browseAddress()">
					我的房屋<span class="house-info" ng-bind="addressTip">已关联1套房屋</span>
				</a>
				<div class="under-line"></div>
			</li>
			<li>
				<a class="menu-item about-us" href="javascript:void(0)" ui-sref="us">关于我们</a>
			</li>
		</ul>
	</div>
</div>