#account-container {
  bottom: 0px;
  top: 0px;
  left: 0px;
  right: 0px;
  position: absolute;
  background-color: #f0eff5;
  font-family: 微软雅黑;
}
#account-container .top-container {
  background-color: #e62f17;
  text-align: center;
  padding: 28px 0px 23px;
  font-size: 15px;
}
#account-container .top-container .head-img-container {
  position: relative;
  width: 128px;
  height: 128px;
  left: 50%;
  margin-left: -64px;
}
#account-container .top-container .head-img-container .head-img-border {
  width: 128px;
  z-index: 1;
  position: absolute;
  left: 0px;
  top: 0px;
}
#account-container .top-container .head-img-container .head-img {
  width: 90px;
  position: absolute;
  left: 20px;
  top: 19px;
  z-index: 0;
}
#account-container .top-container .account-opt {
  color: #fff;
}
#account-container .bottom-container {
  padding-left: 13px;
  font-size: 15px;
  background-color: #fff;
  margin-top: 8px;
}
#account-container .bottom-container .menu-item {
  color: #333;
  height: 51px;
  display: block;
  line-height: 51px;
  background-image: url('../images/right_arrow.png');
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 50%;
  background-size: 9px;
  margin-right: 12px;
}
#account-container .bottom-container .menu-item .house-info {
  float: right;
  margin-right: 25px;
  font-size: 14px;
  color: #999;
}
#account-container .bottom-container .under-line {
  border-bottom: solid 1px #e8e8e8;
}
#account-container .bottom-container .about-us {
  border-bottom: 0px;
}

body {
  background-color: #eeeeee;
  font-family: arial, sans-serif;
}
a:hover {
  text-decoration: none;
  text-underline: none !important;
}
a {
  overline: none;
  text-decoration: none;
}
button[disabled]:active {
  background: #ccc!important;
  color: #fff!important;
}
.no-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
a:active {
  text-decoration: none;
  text-underline: none !important;
}
p {
  margin-top: 5px;
}
.color_ccc {
  color: #ccc;
}
.color_aaa {
  color: #aaa;
}
.color_bbb {
  color: #bbb;
}
.color333 {
  color: #333;
}
.color555 {
  color: #555;
}
.color666 {
  color: #666;
}
.color777 {
  color: #777;
}
.color999 {
  color: #999;
}
/*------------------------------address页--------------------------------------*/
.weui_cells:after {
  border: none;
}
.no_click {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.address_down {
  margin-top: 0;
  font-size: 14px;
}
.address_down:first-child {
  font-size: 14px;
}
.my_cell:before {
  width: 100%;
  height: 1px;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  transform: scaleY(0.5);
  left: 15px;
  content: " ";
  position: absolute;
  border-top: 1px solid #D9D9D9 !important;
  z-index: 1000;
  margin-top: -15px;
}
.address_btn {
  padding: 0 12px;
}
.length_btn {
  margin-top: 36px;
  background-color: #4996ee;
}
.length_btn:active {
  color: white;
  background-color: #1199c4;
}
.length_btn:not(.weui_btn_disabled):active {
  background-color: #2d7fdd;
}
.weui_dialog_ft .small_color {
  color: #4996ee;
}
.sure_address {
  min-width: 70px;
  color: #000000;
  min-height: 30px;
}
.address_detail {
  align-items: initial!important;
}
.address_detail:active {
  background: white!important;
}
.bgclick:active {
  background: white!important;
}
.right_detail {
  min-height: 30px;
  margin-left: 27px;
}
/*---------------------------------block页-----------------------------------------------*/
.title_style {
  font-size: 16px;
  color: #000000;
  margin: 6px 0 !important;
}
/*------------------------------------------account页---------------------------------------------*/
.account_page a {
  margin-top: -5px;
}
.account_page .weui_cell:before,
.weui_cells:before {
  border: none;
}
.account_page .weui_cells:before {
  border: none;
}
.height_down {
  padding-top: 10px;
  height: 10px;
}
.account_page .weui_cell:before {
  border: none;
}
.border_line:before {
  border-top: 1px solid #D9D9D9 !important;
}
.acc_footer {
  width: 100%;
  position: fixed;
  bottom: 0 !important;
}
.my_btn {
  background-color: #f39f33;
  padding: 6px 20px !important;
  float: right;
}
.hidden_footer {
  height: 60px;
}
.account_btn {
  width: 70px !important;
  float: right !important;
}
.label_account {
  background-image: url("../images/select_02.png");
  background-size: contain;
  width: 30px;
  height: 30px;
  display: block;
  position: relative;
  top: -8px;
  left: -6px;
}
.label_account_click {
  background-image: url("../images/select_01.png");
  background-size: contain;
  width: 30px;
  height: 30px;
  display: block;
  cursor: pointer;
  position: relative;
  left: -6px;
  top: -8px;
}
.icon_small {
  width: 14px;
  margin-top: -4px;
  margin-left: 6px;
  margin-right: 5px;
  display: block;
}
.pos_lef {
  margin-left: 4px;
}
.vis_none {
  visibility: hidden;
}
.pos_up {
  margin-top: 8px;
}
/*---------------------------------------支付页面--------------------------------------------*/
.btn_press:active {
  background-color: #cc7f1c !important;
}
.page_pay .weui_cell:nth-of-type(3):before {
  border-top: none;
}
.page_pay.weui_cell:nth-of-type(3) {
  margin-top: -10px;
}
.we_btn {
  background-color: #f39f33;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.friends_paid {
  margin-top: 10px;
  font-size: 12px;
  color: #dd4545;
}
.page_pay {
  margin-top: 10px;
}
.focus_none:focus,
.focus_none:hover {
  color: white;
}
.margintop {
  margin-top: -10px !important;
}
/*---------------------------------------home页面--------------------------------------------------*/
.village {
  color: #ffffff;
  padding: 4px 14px;
  position: absolute;
  top: 10px;
  left: 14px;
  z-index: 100;
  background-color: #000;
  opacity: 0.24;
  border-radius: 24px;
  text-align: center;
}
.home_nav {
  height: 130px;
  margin-top: 8px;
}
.home_nav a {
  float: left;
  height: 100px;
  display: inline;
  padding: 30px 0 0;
  width: 25%;
  text-align: center;
  cursor: pointer;
}
.home_nav a img {
  width: 50px;
}
.shop_img {
  width: 40px;
  height: auto;
}
.shop_show {
  width: 100%;
  height: 250px;
  background-color: rgba(115, 242, 115, 0.14);
}
.shop_name {
  font-size: 16px;
  color: #333333;
}
.tab_nav {
  height: 50px;
  background-color: #ffffff;
  line-height: 50px;
  margin-top: 8px;
  font-size: 16px;
  color: #555555;
  font-weight: bold;
}
.tab_nav div {
  text-align: center;
  cursor: pointer;
  background-color: #ffffff;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.clear_padd {
  padding: 0;
}
.home_list {
  padding-top: 10px;
  background-color: #ffffff;
  margin-top: 8px;
  padding-bottom: 8px;
}
.home_list a {
  color: #000000;
}
.home_list:nth-of-type(1) {
  margin-top: 0;
  border-top: 1px solid #EEEEEE;
}
.home_nav {
  background-color: #ffffff;
}
.cell_phone {
  padding-bottom: 6px;
  color: #777777;
}
.purchase {
  border-top: 1px solid #EEEEEE;
  padding-top: 8px;
  color: #999999;
}
.shop_name {
  padding-bottom: 6px;
  font-weight: bold;
}
.font_icon {
  padding: 0 2px;
  color: #ffffff;
  display: inline-block;
  background-color: #4996ee;
}
.shop_info {
  padding: 4px 0;
  color: #777777;
}
.nav_active {
  color: #e72f17 ;
  border-bottom: 1px solid #ff6b5c;
  display: inline-block;
  height: 50px;
  /*padding: 0 4px;*/
}
.home_nav p {
  color: black;
}
.online_visit {
  text-align: center;
  height: auto;
}
/*--------------------------------------------owner-name--------------------------------------------------*/
.owner_top {
  margin-top: 5px;
}
.delete_icon {
  width: 16px;
  height: 16px;
}
.add_address {
  background-color: #ffffff;
  text-align: center;
  margin-top: 5px;
  padding: 8px 0;
  width: 100%;
}
.owner_bottom {
  height: 44px;
}
.img_active {
  background: url("../images/flag_02.png") no-repeat;
  background-size: contain;
  width: 16px;
  height: 16px;
}
.dis_active {
  background: url("../images/flag_01.png") no-repeat;
  background-size: contain;
  width: 16px;
  height: 16px;
}
.payment_date {
  font-size: 14px;
  text-align: center;
}
.owner_name_del {
  width: 16px;
  height: 20px;
  z-index: 1;
  position: relative;
}

.agreement-statement {
  font-family: 微软雅黑;
  padding: 9px 13px;
}
.agreement-statement h1 {
  text-align: center;
}
.agreement-statement h2 {
  font-size: 15px;
  color: #333;
  font-weight: 700;
}
.agreement-statement .content {
  font-size: 14px;
  color: #555;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  margin: 0 auto;
  height: auto;
  background-color: #eeeeee;
  font-family: arial, sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
input {
  font-family: arial, serif;
}
a {
  text-decoration: none;
}
.nav {
  height: 50px;
  background-color: #ffffff;
}
.nav div {
  padding: 0;
}
.nav a {
  display: block;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 18px;
  color: black;
  cursor: pointer;
  text-decoration: none;
  font-family: '微软雅黑';
  font-weight: normal;
}
.nav a:visited {
  color: #000;
}
.under_line {
  width: 70%;
  height: 48px;
  margin: 0 auto;
  color: #e72f17 !important;
  border-bottom: 2px solid #ff6b5c;
}
.container-fluid a {
  text-decoration: none;
  position: relative;
}
.container-fluid a:active {
  bottom: -2px;
  right: -2px;
}
.list {
  background: white;
  margin-bottom: 0;
}
.list li {
  border-bottom: 1px solid #e8e8e8;
  padding-left: 15px;
}
.prompt_mask,
.prompt_mask_err {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.61);
  position: fixed;
  top: 0;
  left: 0;
}
.prompt_dialog {
  width: 50%;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  top: 25%;
  left: 25%;
}
.prompt_icon {
  width: 60px;
  height: 60px;
  margin: 0 auto;
  margin-top: 5px;
  background-image: url("../images/icon_05.png");
  background-size: cover;
  text-indent: -9999px;
}
.prompt_icon_err {
  width: 60px;
  height: 60px;
  margin: 0 auto;
  margin-top: 5px;
  background-image: url("../images/icon_06.png");
  background-size: cover;
  text-indent: -9999px;
}
.prompt_font {
  font-size: 16px;
  color: #333333;
  text-align: center;
  margin: 10px;
}
.prompt_btn {
  text-align: center;
  width: 80%;
  padding: 5px 0;
  background-color: #f34832;
  border: none;
  margin: 0 auto 10px;
  border-radius: 5px;
  font-size: 16px;
  color: #fefeff;
  display: block;
  top: 50px;
}
.notice {
  /*padding-top: 15px;*/
  font-size: 16px;
  color: #333333;
  font-weight: bold;
}
.notice_date {
  font-size: 14px;
  color: #FE6A6A;
  /*padding-bottom: 10px;*/
  padding-top: 6px;
}
.notice_message {
  min-height: 40px;
  font-size: 14px;
  color: #333333;
  word-break: break-all;
  margin-bottom: 21px;
}
.hidden_value {
  display: none;
  margin-top: 5px;
  word-break: break-all;
}
.complaint_title {
  position: relative;
  margin-left: 24px;
  padding-left: 25px;
  font-weight: bold;
  line-height: 30px;
  border-left: 2px solid #ccc;
}
.complaint_title img {
  position: absolute;
  left: -17px;
  top: -2px;
  margin-right: 10px;
  width: 34px;
}
.complaint,
.property {
  border-left: 2px solid #ccc;
  margin-left: 24px;
  margin-right: 9px;
  padding-left: 25px;
  color: #777777;
}
.complaint_name,
.property_detail {
  color: #333;
}
.complaint_detail,
.property_detail {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}
.complaint_publish {
  padding: 10px 12px;
}
.complaint_publish input[type="text"] {
  border: 1px solid #e0e0e0;
  width: 100%;
  height: 40px;
  /*line-height: 40px;*/
  padding-left: 5px;
  border-radius: 5px;
  font-size: 14px;
  color: #555;
  box-shadow: none;
}
.complaint_publish textarea {
  margin: 10px 0;
  border: 1px solid #e0e0e0;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  color: #555;
  box-shadow: none;
}
.complaint_publish button {
  background: #f44832;
  width: 100%;
  height: 40px;
  line-height: 40px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  color: white;
  font-size: 16px;
}
.return {
  width: 33px;
  height: 43px;
  position: absolute;
  left: 24px;
  top: 22px;
  background-image: url("../images/icon_04.png");
}
.detail_notice {
  font-weight: bold;
  font-size: 16px;
  color: #333333;
  padding: 8px 15px 0;
}
.detail_date {
  padding-right: 10px;
}
/*.detail_notice_time {
  font-size: 13px;
  color: #e95912;
  padding: 14px 0;
}*/
.notice_message {
  padding-top: 10px;
  font-size: 14px;
  color: #333333;
  padding-left: 15px;
  padding-right: 15px;
}
.detail_list li {
  width: 100%;
  height: auto;
  background-color: #ffffff;
  padding: 10px 0;
  border-bottom: 1px solid #e8e8e8;
}
.detail_list {
  margin-bottom: 0;
}
.notice {
  font-size: 16px;
  color: #333333;
}
.contain {
  background-color: #eeeeee;
}
.icon_err {
  width: 80px;
  height: 80px;
  margin: 100px auto 80px;
  background-image: url("../images/icon_03.png");
  background-size: cover;
}
.err_b_font {
  text-align: center;
  font-size: 14px;
  color: #333333;
  margin-top: -50px;
}
.err_s_font {
  text-align: center;
  font-size: 14px;
  margin-top: 5px;
  color: #555555;
}
.repair_btn {
  font-family: arial, serif;
  display: block;
  margin: 20px auto;
  border: none;
  width: 150px;
  height: 40px;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  line-height: 40px;
  background-color: #f44832;
  border-radius: 10px;
}
.contain_down {
  /*background-color: #ffffff;*/
}
.item_service {
  padding-left: 5px;
  padding-right: 5px;
}
.item_service li {
  clear: both;
  min-height: 80px;
  /*background-color: #ffffff;*/
  border-bottom: 1px solid #e8e8e8;
  padding: 0 12px;
}
.item_service li a {
  text-decoration: none;
}
.date_state {
  margin: 0 auto;
  /*height: 20px;*/
  font-size: 14px;
  padding-top: 10px;
}
.date {
  margin-top: 10px;
  color: #999999;
  font-size: 14px;
}
.state {
  float: right;
  color: #e95912;
}
.goods {
  font-size: 14px;
  margin: 10px auto;
  color: #333333;
  /*min-height: 40px;*/
}
.state_btn {
  margin: 0 auto 15px;
  height: 15px;
  position: relative;
}
.state_btn a {
  position: absolute;
  right: 0;
  display: inline-block;
  background: #fff;
  border: 1px solid #f34832;
  border-radius: 5px;
  padding: 1px 10px;
  color: #f34832;
  text-decoration: none;
}
.state_btn .complete {
  position: absolute;
  right: 60px;
}
.container input {
  height: 30px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  line-height: 28px;
  color: #999999 !important;
  padding-left: 8px;
  background-color: #ffffff;
  display: block;
  outline-width: 0;
  box-shadow: none;
  border-collapse: collapse;
  -webkit-appearance: none;
}
input {
  -webkit-appearance: none!important;
  -webkit-box-shadow: none!important;
}
.container input:first-child {
  margin-top: 10px;
}
textarea {
  width: 100%;
  height: 150px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  color: #999999;
  background-color: #ffffff;
  margin: 10px auto;
  padding-left: 8px;
  padding-top: 5px;
  display: block;
  resize: none;
  outline-width: 0;
  box-shadow: none;
  border-collapse: collapse;
  -webkit-appearance: none;
}
/*.container > div {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  line-height: 30px;
  padding-right: 18px;
}

.container > div span {
  position: absolute;
}

.container > div input {
  width: 30%;
  margin-top: 0;
  position: relative;
  left: 20%;
}

.container > div:nth-of-type(1) {
}

.container > div:nth-of-type(2) {
  margin-top: 15px;
}

.container > div:nth-of-type(3) {
  margin-top: 15px;
}

.container > div:nth-of-type(3) input {
  width: 80%;
}*/
.submit_btn {
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  width: 100%;
  display: block;
  font-size: 16px;
  text-align: center;
  padding: 5px 5px;
  background-color: #f44832;
  color: #ffffff !important;
  margin-bottom: 20px;
}
button[disabled],
html input[disabled] {
  background-color: #ccc;
}
.phone_hidden {
  color: #e95912;
  font-size: 12px;
  background-color: #eeeeee;
  position: relative;
  top: 5px;
}
.room_hidden {
  font-size: 12px;
  color: #e95912;
  padding-top: 10px;
}
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
.repair_list {
  width: 100%;
  height: auto;
  /*background-color: #ffffff;*/
  margin: auto;
  /*padding-top: 30px;*/
  /*padding-bottom: 10px;*/
}
.list_top {
  font-size: 16px;
  color: #333;
  font-weight: bold;
  width: 300px;
  margin: auto;
  padding-bottom: 9px;
  border-bottom: 1px solid #e8e8e8;
  border-top: none;
}
.repair_detail {
  padding: 5px;
  margin: 6px 0;
}
.repair_list ul {
  margin-top: 10px;
}
.repair_list ul li {
  /*width: 300px;*/
  /*margin: auto;*/
  padding: 9px 0;
  font-size: 14px;
}
.repair_list ul li span:nth-of-type(1) {
  color: #777777;
  margin-left: 12px;
}
.list ul li:nth-of-type(4) span:nth-of-type(1) {
  padding-left: 10px;
}
.repair_list ul li:nth-of-type(5) span {
  color: #e95912;
}
.repair_list ul li span:nth-of-type(2) {
  padding-left: 30px;
  /*white-space: normal;*/
  word-break: break-all;
}
/*.l_btn {
  margin: 30px auto;
  width: 280px;
  height: 40px;
  border: 1px solid #828282;
  border-radius: 10px;
  display: block;
  background-color: #ffffff;
  font-size: 16px;
  color: #333333;
  font-family: arial, serif;
}*/
.RD_s {
  width: 63px;
  text-align: right;
  font-size: 14px;
}
.center {
  text-align: center;
}
ul[rn-carousel] {
  width: 100%;
  height: 186px;
  margin: 0 auto;
}
.carousel5 li {
  width: 100%;
  height: 186px;
  font-size: 30px;
  background-color: #ccc;
}
.carousel-demo {
  text-align: center;
}
.rn-carousel-indicator {
  margin-top: -20px;
  position: relative;
  top: -2px;
}
.disabled {
  background-color: #bababa !important;
}
div.rn-carousel-indicator span.active {
  color: #ffffff;
}
div.rn-carousel-indicator span {
  color: rgba(255, 255, 255, 0.47);
  margin-left: 5px;
}
.fixed-full-container {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
.absolute-full-container {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
.root-view {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #bbb;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #bbb;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #bbb;
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #bbb;
}

#auto-location-container .delete {
  display: none;
}
#auto-location-container .list-title {
  background-color: #eeeeee;
  margin: 0;
  height: 30px;
  display: block;
  box-sizing: border-box;
  font-size: 16px;
  color: #999999;
  padding: 8px 12px;
}
#auto-location-container .location-tip-bar {
  font-size: 16px;
  color: #333333;
  padding-top: 28px;
  text-align: center;
}
#auto-location-container .location-tip-bar .retry-location {
  color: #4996ee;
}
@-webkit-keyframes load {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-moz-keyframes load {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-o-keyframes load {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes load {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#bill-container .bill-footer {
  height: 56px;
  padding-left: 13px;
}
#bill-container .bill-footer .all-select {
  width: 30px;
  height: 100%;
  background-image: url('../images/select_01.png');
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: -5px 50%;
}
#bill-container .bill-footer .all-select-container-active {
  background-image: url('../images/select_02.png');
}
#bill-container .bill-footer .total-money-container {
  margin-top: 4px;
  flex: 1.6;
}
#bill-container .bill-footer .total-money-container .total-money-text {
  margin-left: 10px;
}

#c-tip-container {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  font-family: 微软雅黑;
  z-index: 1000;
}
#c-tip-container .modal-container {
  width: 130px;
  left: 50%;
  margin-left: -65px;
  text-align: center;
  padding: 22px 32px 24px;
  position: absolute;
  background-color: #030303;
  opacity: 0.9;
  color: #fff;
  top: 30%;
  border-radius: 6px;
  font-size: 15px;
}
#c-tip-container .modal-container .tip-img {
  width: 57px;
}
#c-tip-container .modal-container .tip-text {
  margin-top: 17px;
  display: inline-block;
}
#c-tip-container .modal-container-error {
  padding-top: 13px;
}
#c-tip-container .modal-container-error .tip-text {
  margin-top: 12px;
}

#complain_list .item_service {
  margin-top: 5px;
  background: white;
}
.replied_state {
  color: #e6b417;
  background: url(../images/change_address.png) no-repeat;
  display: block;
  width: 55px;
  height: 25px;
  text-align: right;
  background-size: 35%;
  background-position: 8px 6px;
}
.replied_state:hover {
  color: #e6b417;
}
#complain_add .mobile {
  margin-top: 10px;
  background: white!important;
  color: #999;
}
#complain_add .privacy_protection {
  color: #999;
  font-size: 14px;
  text-align: left;
  margin-top: 5px;
}
#complain_add .tel-edit {
  font-family: arial, sans-serif;
}
.com_address {
  color: #999;
  background: white;
  line-height: 30px;
  padding-left: 5px;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
}
.com_left,
.com_right {
  display: inline-block;
}
.com_right {
  float: right;
  margin-right: 5px;
}
#complain_detail {
  height: 100%;
  background: #fff;
  padding-top: 21px;
}
#complain_detail .complaint_title {
  font-size: 15px;
  /*margin-top: 21px;*/
}
#complain_detail .property_detail {
  color: #777;
}

.confirm-modal {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  font-family: 微软雅黑;
}
.confirm-modal .mask {
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.3;
}
.confirm-modal .c-container {
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 0px;
  width: 70%;
  border: solid 1px #ddd;
  margin-top: 45%;
  margin-left: -35%;
}
.confirm-modal .c-container .c-content {
  padding: 15px 15px;
}
.confirm-modal .c-container .c-content .c-title {
  margin: 0px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}
.confirm-modal .c-container .c-content .c-tip {
  margin: 10px 10px;
  text-align: center;
  font-size: 15px;
}
.confirm-modal .c-container .c-content .c-tip-left {
  text-align: left;
}
.confirm-modal .c-container .c-content .c-tip-center {
  text-align: center;
}
.confirm-modal .c-container .c-footer {
  border-top: solid 1px #ddd;
  font-size: 16px;
}
.confirm-modal .c-container .c-footer .c-button {
  width: 50%;
  display: block;
  float: left;
  text-align: center;
  padding: 5px 0px;
}
.confirm-modal .c-container .c-footer .cancel-button {
  border-right: solid 1px #ddd;
  color: #827E7E;
}
.confirm-modal .c-container .only-ok-button .cancel-button {
  display: none;
}
.confirm-modal .c-container .only-ok-button .ok-button {
  width: 100%;
}


.global-loading {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-color: #000;
  opacity: 0.3;
}
.global-loading .tip {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-family: 微软雅黑;
  margin-top: 55%;
}

.head-bar {
  background-color: #f7f7f7;
  height: 44px;
  text-align: center;
  line-height: 44px;
  font-family: 微软雅黑;
  position: relative;
}
.head-bar .back {
  background-image: url('../images/left_arrow_red.png');
  display: block;
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  position: absolute;
  margin-left: 12px;
  background-size: 22px;
  top: 50%;
  margin-top: -11px;
}
.head-bar .title {
  font-size: 17px;
  color: #000;
}

#home-nav-container {
  font-family: 微软雅黑;
}
#home-nav-container .flip-container {
  width: 100%;
  top: 0px;
  bottom: 51px;
  left: 0px;
  position: absolute;
  -webkit-perspective: 1000;
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;
}
#home-nav-container .flip-container .front,
#home-nav-container .flip-container .back {
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
}
#home-nav-container .flip-container .front {
  z-index: 1;
}
#home-nav-container .flip-container .back {
  -webkit-transform: rotateY(180deg);
}
#home-nav-container .flip-container.flip {
  -webkit-transform: rotateY(180deg);
}
#home-nav-container .bottom-nav-bar {
  height: 51px;
  border-top: solid 1px #e8e8e8;
  position: absolute;
  bottom: 0px;
  width: 100%;
  left: 0px;
  font-size: 13px;
}
#home-nav-container .bottom-nav-bar .nav-link {
  width: 50%;
  display: block;
  float: left;
  height: 100%;
  text-align: center;
  line-height: 82px;
  background-repeat: no-repeat;
  background-size: 32px;
  background-position: 50% 12%;
}
#home-nav-container .bottom-nav-bar .home-nav {
  background-image: url('../images/home.png');
  color: #B1AFAF;
}
#home-nav-container .bottom-nav-bar .home-nav-active {
  background-image: url('../images/home-active.png');
  color: #F16262;
}
#home-nav-container .bottom-nav-bar .account-nav {
  background-image: url('../images/account.png');
  color: #B1AFAF;
}
#home-nav-container .bottom-nav-bar .account-nav-active {
  background-image: url('../images/account-active.png');
  color: #F16262;
}

#home-container .village .community-name {
  font-size: 14px;
  line-height: 14px;
}
#home-container .village:hover {
  color: #fff;
}

.location-container {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-color: #fff;
}
.l-wrapper {
  padding: 7px 12px;
  border-bottom: solid 1px #e8e8e8;
}
.l-wrapper .search-container {
  position: relative;
  height: 30px;
  border: solid 1px #ddd;
  background-image: url('../images/search.png');
  background-repeat: no-repeat;
  background-position: 5px 7px;
  background-size: 16px;
  border-radius: 5px;
}
.l-wrapper .search-container .search-icon {
  margin-left: 18px;
}
.l-wrapper .search-container .search-field {
  margin-top: 5px;
  font-size: 16px;
  color: #ccc;
  border: 0;
  background: 0 0;
  left: 30px;
  position: absolute;
  background: green;
  background-color: transparent;
  width: 90%;
  line-height: 20px;
  vertical-align: middle;
}
.l-wrapper .search-container .delete {
  background-image: url('../images/search-delete.png');
  position: absolute;
  right: 0px;
  top: 0px;
  /* background: red; */
  display: block;
  width: 30px;
  height: 30px;
  background-size: 28px;
  background-repeat: no-repeat;
}
.list-item {
  height: 75px;
  border-bottom: solid 1px #e8e8e8;
}
.community-item {
  background-image: url('../images/right_arrow.png');
  background-repeat: no-repeat;
  background-position: 97%;
  background-size: 10px;
}
.list-link {
  display: block;
  width: 100%;
  height: 100%;
  padding: 12px 12px;
}
.list-link .community-title {
  display: block;
  font-size: 20px;
  color: #333333;
  font-weight: 600;
}
.list-link .community-address {
  display: block;
  font-size: 18px;
  color: #999999;
}

#login-container {
  bottom: 0px;
  top: 0px;
  left: 0px;
  right: 0px;
  position: absolute;
  background-color: #fff;
  padding: 60px 23px 0px;
  font-family: 微软雅黑;
}
#login-container input[disabled] {
  background-color: transparent!important;
}
#login-container .code-container {
  height: 40px;
  border: solid 1px #ddd;
  font-size: 15px;
  color: #000;
  padding: 9px 10px 0px;
  border-radius: 6px;
}
#login-container .code-container .code {
  border: 0px;
}
#login-container .tel-container .tel-prefix {
  font-family: arial, sans-serif;
  border-right: solid 1px #ddd;
  color: #333;
  padding-right: 10px;
}
#login-container .tel-container .tel {
  margin-left: 15px;
}
#login-container .tel-container .tel-edit {
  font-family: arial, sans-serif;
}
#login-container .auth-code-container {
  margin-top: 15px;
}
#login-container .auth-code-container .auth-code-edit {
  font-family: arial, sans-serif;
}
#login-container .auth-code-container .send-auth-code {
  color: #e62f17;
  float: right;
}
#login-container .auth-code-container .send-auth-code-disable {
  color: #C5C4C4;
}
#login-container .auth-code-container .resend-time {
  float: right;
  font-size: 13px;
  color: #777;
  margin-top: 1px;
  margin-right: 1px;
  font-family: arial, sans-serif;
}
#login-container .login-button {
  width: 100%;
  height: 40px;
  border: 0px;
  border-radius: 6px;
  background-color: #e62f17;
  color: #fff;
  margin-top: 16px;
}
#login-container .login-button-disable {
  background-color: #D2D2D2;
}
#login-container .tip {
  font-size: 12px;
  color: #666;
  margin-top: 25px;
  line-height: 1.5;
}
#login-container .tip .user-license-link {
  color: #1656b3;
}
#login-container .verify-tip-container {
  top: 0px;
  bottom: 0px;
  position: absolute;
  left: 0px;
  right: 0px;
}
#login-container .verify-tip-container .verify-tip {
  font-size: 15px;
  color: #fff;
  border-radius: 6px;
  background-color: #030303;
  opacity: 0.9;
  width: 180px;
  height: 40px;
  display: block;
  margin-top: 45%;
  line-height: 40px;
  text-align: center;
  position: relative;
  left: 50%;
  margin-left: -90px;
}

.logout-confirm-container {
  position: absolute;
  width: 100%;
  top: 0px;
  bottom: 0px;
}
.logout-confirm-container .confirm-mask {
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.3;
}
.logout-confirm-container .confirm-modal {
  background-color: #fff;
  border-radius: 6px;
  width: 80%;
  height: 132px;
  margin-left: -40%;
  position: absolute;
  left: 50%;
  top: 41%;
  text-align: center;
}
.logout-confirm-container .confirm-modal .modal-tip {
  font-size: 17px;
  line-height: 89px;
  color: #555;
}
.logout-confirm-container .confirm-modal .modal-bottom {
  font-size: 18px;
  height: 43px;
  border-top: solid 1px #e8e8e8;
  bottom: 0px;
  position: absolute;
  width: 100%;
  left: 0px;
  color: #333;
}
.logout-confirm-container .confirm-modal .modal-bottom .modal-button {
  border: 0px;
  width: 50%;
  height: 100%;
  background-color: inherit;
  float: left;
}
.logout-confirm-container .confirm-modal .modal-bottom .modal-cancel {
  border-right: solid 1px #e8e8e8;
}


#notice_detail {
  background: white;
}
#notice_detail .detail_notice {
  border-bottom: 1px #e6e6e6 solid;
  margin: 10px 10px;
  padding: 0px;
  padding-bottom: 10px;
}
#notice_detail .detail_notice_time {
  display: block;
  color: #8e8e8e;
  font-weight: normal;
}
#notice_detail .detail_notice_message {
  display: block;
  padding: 10px 15px;
}
#notice_detail .detail_notice_message textarea {
  height: 300px;
  border: none;
}
#notice_list .list {
  background: none;
}
#notice_list .list .rapeat_list {
  background: white;
  padding: 8px;
  padding-top: 16px;
  margin: 13px;
}
#notice_list .list .rapeat_list span {
  margin-right: 14px;
}
#notice_list .list .rapeat_list .notice_date {
  border-top: 1px solid #e0e0e0;
  color: #777;
}

#repairlist #repair_type .repairtype {
  margin: auto;
  width: 280px;
  font-size: 0px;
}
#repairlist #repair_type .repairtype div {
  display: inline-block;
  width: 70px;
  height: 50px;
  margin: 0px;
  text-align: center;
  font-size: 12px;
}
#repairlist #repair_type .state {
  color: #e6b417;
}
#repairlist #repair_type .state3 {
  float: right;
  color: #7b7b7b;
}
#repairlist .item_service {
  background: white;
  margin-top: 10px;
}
#rapair_add input {
  width: 100%;
  border: 1px solid #e0e0e0;
}
#rapair_add select {
  width: 100%;
  height: 30px;
  color: red;
  margin: 5px 0px;
  background: #fff;
  border: 1px solid #e0e0e0;
  padding-left: 2px;
  /*display: none;*/
}
#rapair_add select:hover {
  color: red;
}
#rapair_add select option {
  color: #000;
}
#rapair_add textarea {
  border: 1px solid #e0e0e0;
}
#rapair_add .repair_mobile {
  margin-top: 6px;
}
#rapair_add .tel-edit {
  font-family: arial, sans-serif;
}
#repair_detail li {
  background: #fff;
}
#repair_detail .device {
  color: #333;
  font-weight: bolder;
}
#repair_detail .date_time {
  color: #333;
  padding-left: 25px;
}
#repair_detail .list_num {
  color: #f34832;
}
#repair_detail .date_u {
  margin-left: 0px;
}
#repair_detail .repaie_state {
  /*background: #fff3a3;*/
  display: block;
  margin-left: 20px;
  border-left: 1px #ddd solid;
  /*padding-top: 15px;*/
  padding-bottom: 15px;
}
#repair_detail .repaie_state .repair_detail_state {
  background: #fff;
  display: block;
  line-height: 40px;
  margin-left: 20px;
  margin-right: 15px;
  padding-left: 5px;
  border-radius: 5px;
}
#repair_detail .repaie_state .repair_detail_state .repair_wait {
  display: block;
  color: #777;
  margin-left: 15px;
  margin-top: -10px;
}
#repair_detail .repaie_state .repaie_state_right {
  float: right;
  margin-right: 15px;
  color: #777!important;
}
#repair_detail .repaie_state img {
  display: inline-block;
  width: 15px;
  position: relative;
  left: -8px;
  bottom: -25px;
}
#repair_detail .repaie_state .triangle {
  background: #fff;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-top: 5px solid #eee;
  border-bottom: 5px solid #eee;
  border-right: 5px solid #fff;
  position: relative;
  left: -15px;
  bottom: 5px;
}
#repair_detail .repaie_state:nth-of-type(1) {
  /*color: red;*/
  /*padding-top: 20px;*/
}
#repair_detail .repaie_state:last-child {
  height: 30px;
  margin-bottom: 200px;
}
#repair_detail .repair_but {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background: #fff;
  padding: 12px 12px;
  height: 56px;
}
#repair_detail .repair_but .l_btn {
  width: 100%;
  border: 1px solid #f34832;
  border-radius: 5px;
  color: #f34832;
  height: 32px;
  background-color: #ffffff;
  font-size: 16px;
  font-family: arial, serif;
}

/*!
 * Sanitize 2.0.0 (http://git.io/sanitize)
 * Licensed under the MIT License.
 */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
figcaption,
figure,
footer,
header,
legend,
nav,
section {
  display: block;
}
audio,
canvas,
label,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
hr {
  height: 0;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
h1 {
  margin: .7em 0;
  font-size: 2em;
}
b,
strong {
  font-weight: bold;
}
small {
  font-size: 85%;
}
sub,
sup {
  position: relative;
  font-size: 80%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.25em;
}
sub {
  bottom: -0.25em;
}
dfn {
  font-style: italic;
}
abbr[title] {
  border-bottom: 1px dotted;
}
mark {
  color: #000;
  background: #ff0;
}
blockquote:before,
blockquote:after {
  content: "";
}
code,
kbd,
pre,
samp {
  font-family: monospace;
}
pre {
  overflow: auto;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
}
audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
  vertical-align: middle;
}
img {
  max-width: 100%;
  height: auto;
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
progress {
  vertical-align: baseline;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}
button,
select {
  text-transform: none;
}
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}
legend {
  padding: 0;
  border: 0;
}
input {
  line-height: normal;
}
input[type="search"] {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input::-moz-placeholder {
  opacity: 1;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  margin: 4px 0 0;
  line-height: normal;
}
textarea {
  padding: 0;
  vertical-align: top;
}
button {
  overflow: visible;
}
table {
  max-width: 100%;
  border-collapse: collapse;
}
th {
  text-align: left;
}

#search-location-container .search-error-tip {
  font-size: 15px;
  color: #333333;
  padding: 123px 40px 0px;
  text-align: center;
  font-family: 微软雅黑;
}
#search-location-container .search-error-icon {
  width: 68px;
  margin-bottom: 17px;
  position: relative;
}

#us-container {
  background-color: #eeeeee;
  font-family: 微软雅黑;
}
#us-container .top-container {
  height: 183px;
  background-color: #fff;
  margin-top: 9px;
  text-align: center;
}
#us-container .top-container .us-logo {
  width: 96px;
  margin-top: 24px;
}
#us-container .top-container .version-info {
  font-size: 14px;
  color: #333;
  margin-top: 16px;
  display: inline-block;
}
#us-container .bottom-container {
  padding: 0px 13px;
  margin-top: 9px;
  background-color: #fff;
}
#us-container .bottom-container .menu-item {
  font-size: 15px;
  color: #333;
  height: 44px;
  display: block;
  width: 100%;
  line-height: 44px;
  margin-right: 13px;
  background-image: url('../images/right_arrow.png');
  background-repeat: no-repeat;
  background-size: 9px;
  background-position: 100% 50%;
}
#us-container .footer {
  padding: 0px 13px;
  margin-top: 100px;
}
#us-container .footer .logout {
  border: 0px;
  background-color: #f34832;
  border-radius: 6px;
  height: 43px;
  width: 100%;
  font-size: 15px;
  color: #fff;
}


.address-common-container {
  background-color: #eeeeee;
}

#c-address-edit-container {
  z-index: 102;
}

#c-address-list-container {
  z-index: 101;
}
#c-address-list-container .add-address-button {
  height: 36px;
  line-height: 36px;
  padding: 0px;
}
#c-address-list-container .add-address-button .add-address-icon {
  width: 14px;
  vertical-align: middle;
}
#c-address-list-container .add-address-button .add-address-text {
  margin-left: 2px;
  vertical-align: middle;
}

#c-block-list-container {
  z-index: 105;
}

#c-city-list-container {
  z-index: 103;
}

#c-community-list-container {
  z-index: 104;
}

#c-room-list-container {
  z-index: 107;
}

#c-unit-list-container {
  z-index: 106;
}

#us-container {
  background-color: #f0eff5;
}
