<div id="c-address-edit-container" class="fixed-full-container address-common-container" ng-show="show">
    <c-nav-bar title="添加地址"></c-nav-bar>
    <div class="content-container" ng-show="showContent" ng-init="showContent=true">
        <div class="weui_cells weui_cells_access address_down">
            <div class="tag-container">
                <label class="tag-tip">标签</label>
                <div id="tag-select-container" class="tag-select-container">
                    <select id="tag-list" ng-model="tag" ng-options="tag.name for tag in tags" class="tag-list"></select>
                    <!-- <span ng-show="!tag" class="tag-select-tip">请选择地址标签</span> -->
                </div>
                <br/>
                <input type="text" placeholder="请输入地址标签" maxlength="3" 
                    ng-show="tag&&tag.name=='其它'" ng-model="tagName" class="tag-field" />
            </div>
            <div class="weui_cell" ng-click="changeCity()">
                <div class="weui_cell_bd weui_cell_primary">
                    <p style="margin-top: 10px;">城市</p>
                </div>
                <div ng-if="city" class="weui_cell_ft" name="block">
                    {{city}}
                </div>
                <div ng-if="!city" class="weui_cell_ft" name="city">
                    请选择
                </div>
            </div>

            <div class="weui_cell" ng-click="changeCommunity()" ng-class="{true:'c-disabled'}[!city]">
                <div class="weui_cell_bd weui_cell_primary">
                    <p style="margin-top: 10px;">小区</p>
                </div>
                <div ng-if="community" class="weui_cell_ft" name="block">
                    {{community}}
                </div>
                <div ng-if="!community" class="weui_cell_ft" name="community">
                    请选择
                </div>
            </div>

            <div class="weui_cell" ng-click="changeBlock()" ng-class="{true:'c-disabled'}[!community]">
                <div class="weui_cell_bd weui_cell_primary">
                    <p style="margin-top: 10px;">楼号</p>
                </div>
                <div ng-if="block" class="weui_cell_ft" name="block">
                    {{block}}
                </div>
                <div ng-if="!block" class="weui_cell_ft" name="block">
                    请选择
                </div>
            </div>

            <div class="weui_cell" ng-click="changeUnit()" ng-class="{true:'c-disabled'}[!block||blockType!=2]">
                <div class="weui_cell_bd weui_cell_primary">
                    <p style="margin-top: 10px;">单元</p>
                </div>
                <div ng-if="unit" class="weui_cell_ft" name="block">
                    {{unit}}
                </div>
                <div ng-if="!unit" class="weui_cell_ft" name="unit">
                    请选择
                </div>
            </div>
            <div class="weui_cell" ng-click="changeRoom()" ng-class="{true:'c-disabled'}[!block||blockType==0||(blockType==2&&!unit)]">
                <div class="weui_cell_bd weui_cell_primary">
                    <p style="margin-top: 10px;">门牌号</p>
                </div>
                <div ng-if="room" class="weui_cell_ft" name="block">
                    {{room}}
                </div>
                <div ng-if="!room" class="weui_cell_ft" name="room">
                    请选择
                </div>
            </div>

            <div class="weui_cell address_detail" href="javascript:;">
                <span class="sure_address" style="margin-top: 10px;">
                    请确认
                </span>
                <span class="right_detail" style="margin-top: 10px;">
                    <div>
                        {{community}}&nbsp;<span>{{block}}</span><span ng-if="unit">-{{unit}}</span><span ng-if="room">-{{room}}</span>
                    <br>
                        <span>{{ownerName}}</span>          
                    </div>
                </span>
            </div>
        </div>

        <!--下一步按钮-->
        <div class="address_btn">
            <button class="weui_btn weui_btn_primary length_btn save-address"
                    ng-disabled="!tag||(tag.name=='其它'&&!tagName)||!block||(!unit&&type==2)||(!room&&type==3)"
                    ng-class="{'disabled':!tag||(tag.name=='其它'&&!tagName)||!block||(!unit&&type==2)||(!room&&type==3)}" style="font-size: 16px"
                    ng-click="addAddress()">保存
            </button>
        </div>
        <!--提示框-->
        <div class="weui_dialog_confirm" style="display: none">
            <div class="weui_mask"></div>
            <div class="weui_dialog">
                <div class="weui_dialog_hd"><strong class="weui_dialog_title">确定要放弃本次编辑</strong></div>
                <div class="weui_dialog_ft">
                    <a href="javascript:;" class="weui_btn_dialog default small_color">确定</a>
                    <a href="javascript:;" class="weui_btn_dialog primary small_color">取消</a>
                </div>
            </div>
        </div>
        <style>
            a {
                text-decoration:none;
            }
        </style>
    </div>
    <c-city-list show="showCityList" on-complete="onSelectCityComplete()" city-list="cityList"></c-city-list>
    <c-community-list show="showCommunityList" on-complete="onSelectCommunityComplete()" community-list="communityList"></c-community-list>
    <c-block-list show="showBlockList" on-complete="onSelectBlockComplete()" block-list="blockList"></c-block-list>
    <c-unit-list show="showUnitList" on-complete="onSelectUnitComplete()" unit-list="unitList"></c-unit-list>
    <c-room-list show="showRoomList" on-complete="onSelectRoomComplete()" room-list="roomList"></c-room-list>
    <c-loading show="showLoading" tip="正在加载中..." tip-loading="loading"></c-loading>
</div>