<div id="c-address-edit-container" class="absolute-full-container address-common-container" ng-show="show">
    <div class="weui_cells weui_cells_access address_down">
        <div class="weui_cell" ng-click="changeCity()">
            <div class="weui_cell_bd weui_cell_primary">
                <p style="margin-top: 10px;">城市</p>
            </div>
            <div ng-if="city" class="weui_cell_ft" name="block">
                {{city}}
            </div>
            <div ng-if="!city" class="weui_cell_ft" name="city">
                请选择
            </div>
        </div>

        <div class="weui_cell" ng-click="changeCommunity()">
            <div class="weui_cell_bd weui_cell_primary">
                <p style="margin-top: 10px;">小区</p>
            </div>
            <div ng-if="village" class="weui_cell_ft" name="block">
                {{village}}
            </div>
            <div ng-if="!village" class="weui_cell_ft" name="village">
                请选择
            </div>
        </div>

        <div class="weui_cell" ng-click="changeBlock()">
            <div class="weui_cell_bd weui_cell_primary">
                <p style="margin-top: 10px;">楼号</p>
            </div>
            <div ng-if="block" class="weui_cell_ft" name="block">
                {{block}}
            </div>
            <div ng-if="!block" class="weui_cell_ft" name="block">
                请选择
            </div>
        </div>

        <div class="weui_cell {{sss}}" ng-click="changeUnit()">
            <div class="weui_cell_bd weui_cell_primary">
                <p style="margin-top: 10px;" ng-class="unit?'':'color_ccc'">单元</p>
            </div>
            <div ng-if="unit" class="weui_cell_ft" name="block">
                {{unit}}
            </div>
            <div ng-if="!unit" class="weui_cell_ft color_ccc" name="unit">
                请选择
            </div>
        </div>
        <div class="weui_cell {{ccc}}" ng-click="changeRoom()">
            <div class="weui_cell_bd weui_cell_primary">
                <p style="margin-top: 10px;" ng-class="room?'':'color_ccc'">门牌号</p>
            </div>
            <div ng-if="room" class="weui_cell_ft" name="block">
                {{room}}
            </div>
            <div ng-if="!room" class="weui_cell_ft color_ccc" name="room">
                请选择
            </div>
        </div>

        <div class="weui_cell address_detail" href="javascript:;">
            <span class="sure_address" style="margin-top: 10px;">
                请确认
            </span>
            <span class="right_detail" style="margin-top: 10px;">
                <div>
                    {{village}}&nbsp;<span>{{block}}</span><span ng-if="unit">-{{unit}}</span><span ng-if="room">-{{room}}</span>
                <br>
                    <span>{{owner}}</span>          
                </div>
            </span>
        </div>
    </div>

    <!--下一步按钮-->
    <div class="address_btn">
        <button class="weui_btn weui_btn_primary length_btn"
                ng-disabled="!block||(!unit&&type==2)||(!room&&type==3)"
                ng-class="{'disabled':!block||(!unit&&type==2)||(!room&&type==3)}" style="font-size: 16px"
                ng-click="addAddress()">下一步
        </button>
    </div>
    <!--提示框-->
    <div class="weui_dialog_confirm" style="display: none">
        <div class="weui_mask"></div>
        <div class="weui_dialog">
            <div class="weui_dialog_hd"><strong class="weui_dialog_title">确定要放弃本次编辑</strong></div>
            <div class="weui_dialog_ft">
                <a href="javascript:;" class="weui_btn_dialog default small_color">确定</a>
                <a href="javascript:;" class="weui_btn_dialog primary small_color">取消</a>
            </div>
        </div>
    </div>
    <c-city-list show="showCityList" on-complete="onSelectCityComplete()" city-list="cityList"></c-city-list>
    <c-community-list show="showCommunityList" on-complete="onSelectCommunityComplete()" community-list="communityList"></c-community-list>
    <c-block-list show="showBlockList" on-complete="onSelectBlockComplete()" block-list="blockList"></c-block-list>
    <c-unit-list show="showUnitList" on-complete="onSelectUnitComplete()" unit-list="unitList"></c-unit-list>
    <c-room-list show="showRoomList" on-complete="onSelectRoomComplete()" room-list="roomList"></c-room-list>
    <style>
        a {
            text-decoration:none;
        }
    </style>
</div>