<div id="c-address-list-container" class="fixed-full-container address-common-container" ng-show="show">
    <!-- <div class="content-container" ng-show="showContent" ng-init="showContent=true"> -->
        <div class="weui_cells address_down account_page owner_top" ng-repeat="address in addressList">
            <a class="weui_cell" style="padding-top: 10px;padding-bottom: 0;" ng-click="selectAddress(address)">
                <div class="weui_cell_bd weui_cell_primary">
                    <p class="color333" style="margin-bottom: 5px">{{address.community}}</p>
                </div>
                <div class="address_section color999">
                    <span>{{address.block}}</span><span ng-if="address.unit">-{{address.unit}}</span><span ng-if="address.room">-{{address.room}}</span>
                </div>
            </a>
            <a class="weui_cell" style="padding-top: 6px;padding-bottom: 0;" ng-click="selectAddress(address)">
                <div class="weui_cell_bd weui_cell_primary">
                    <p></p>
                </div>
                <div class="people_name color999">
                    {{address.ownerName}}
                </div>
            </a>
            <div class="weui_cell ofen_address" style="padding-top: 0;padding-bottom: 0;">
                <div class="weui_cell_hd" ng-click="setDefaultAddress(address)" ng-class="{'img_active':address.active==0,'dis_active':address.active!=0}">
                </div>
                <div class="weui_cell_bd weui_cell_primary">
                    <p class="color_aaa" style="position: relative;top: 2px;left: 14px" ng-if="address.active!=0">设为我的常用地址</p>
                    <p class="color_aaa" style="position: relative;top: 2px;left: 14px" ng-if="address.active==0">我的常用地址</p>
                </div>
                <div class="owner_name_del" ng-click="deleteAddress(address)"><img src="images/delete.png" class="delete_icon"></div>
            </div>
        </div>

        <div class="add_address color333 add-address-button"  ng-click="addAddress()">
            <img class="add-address-icon" src="images/plus.png">
            <span class="add-address-text">新增地址</span>
        </div>
        <!--提示框-->
        <div class="weui_dialog_confirm" ng-show="showDeleteConfirm">
            <div class="weui_mask"></div>
            <div class="weui_dialog">
                <div class="weui_dialog_hd"><strong class="weui_dialog_title">确定要删除吗?</strong></div>
                <div class="weui_dialog_ft">
                    <a href="javascript:;" class="weui_btn_dialog default small_color" ng-click="cancel()">取消</a>
                    <a href="javascript:;" class="weui_btn_dialog primary small_color" ng-click="delete()">确定</a>
                </div>
            </div>
        </div>
    <!-- </div> -->
    <c-address-edit show="showAddressEdit" on-complete="onEditAddressComplete()"></c-address-edit>
</div>

