<div id="c-block-list-container" class="fixed-full-container address-common-container" ng-show="show">
    <!-- <div class="content-container" ng-show="showContent" ng-init="showContent=true"> -->
        <div ng-repeat="blocks in blockList">
            <div class="weui_cells_title title_style">
                {{blocks.initial}}
            </div>
            <div class="weui_cells weui_cells_access address_down" style="margin-top:1px!important" ng-repeat="block in blocks.items|orderBy:'id'">
                <a class="weui_cell" style="padding:0px 15px!important;margin-top:2px!important" ng-click="changeBlock(block)" ng-if="block.type == 2">
                    <div class="weui_cell_bd weui_cell_primary" style="margin:10px auto">
                        <p>{{block.block}}</p>
                    </div>
                    <div class="weui_cell_ft">
                    </div>
                </a>
                <a class="weui_cell" style="padding:0px 15px!important;margin-top:2px!important" ng-click="changeBlock(block)" ng-if="block.type == 1">
                    <div class="weui_cell_bd weui_cell_primary" style="margin:10px auto">
                        <p>{{block.block}}</p>
                    </div>
                    <div class="weui_cell_ft">
                    </div>
                </a>
                <a class="weui_cell" style="padding:0px 15px!important;margin-top:2px!important" ng-click="changeBlock(block)" ng-if="block.type == 0">
                    <div class="weui_cell_bd weui_cell_primary" style="margin:10px auto">
                        <p>{{block.block}}</p>
                    </div>
                    <div class="weui_cell_ft">
                    </div>
                </a>
            </div>
        </div>
    <!-- </div> -->
    <div class="no-data-tip" ng-show="blockList.length==0">暂无数据</div>
    <c-unit-list show="showUnitList" on-complete="onSelectUnitComplete()" unit-list="unitList"></c-unit-list>
    <c-room-list show="showRoomList" on-complete="onSelectRoomComplete()" room-list="roomList"></c-room-list>
    <c-loading show="showLoading" tip="正在加载中..." tip-loading="loading"></c-loading>
</div>