<div id="show-info-container" ng-class="{true:'show-info-empty'}[shopList.length==0||site==2]">
    <div when-scrolled="scroll()" ng-if="site!=2">
        <div class="row home_list" ng-repeat="shop in shopList track by $index">
            <a href="{{shop.business_url}}">
                <div class="col-xs-4"><img ng-src="{{shop.s_photo_url}}" err-src="images/404.png" alt="暂无图片" style="padding-left: 2px;border-radius: 5px"></div>
                <div class="col-xs-8 clear_padd">
                    <div class="shop_name">{{shop.name}}</div>
                    <div class="star"><img ng-src="images/star_{{shop.avgRating}}.png" style="height: 14px"></div>
                    <div class="shop_info"><span class="shop_site">{{shop.address| cut:true:10:' ...'}}</span><span class="shop_service">&nbsp;{{shop.categories}}</span></div>
                    <div class="cell_phone" ng-if="shop.telephone!=''">电话：{{shop.telephone}}</div>
                    <div class="purchase" ng-if="shop.has_deal!=0">
                        <small><span class="font_icon">团</span><span style="padding-left: 8px">{{shop.description| cut:true:12:'...'}}</span>
                    </small>
                    </div>
                </div>
            </a>
        </div>
        <c-empty show="shopList.length==0&&site!=3" tip="获取周边商户失败" second-tip="请稍后重试"></c-empty>
    </div>
    <div class="online_visit" ng-if="site==2">
        <img src="images/develop.png" style="width: 100%;">
        <div class="online_err" style="position: relative;top:-60px">程序员哥哥，正在努力的开发中!</div>
    </div>
    <c-loading show="showLoading" tip="" tip-loading="loading"></c-loading>
</div>

