<div id="auto-location-container" class="location-container">
	<div class="l-wrapper">
		<div class="search-container">
			<input class="search-field" type="text" placeholder="请输入小区名称" ng-click="clickSearchField()">
			<a class="delete" href="javascript:void(0)"></a>
		</div>
	</div>
	<h1 class="list-title">
		定位到的小区
	</h1>
	<ul>
		<li class="list-item community-item" ng-repeat="item in autoLocationCommunities">
			<a class="list-link" ng-click="changeCommunity(item)">
				<span class="community-title" ng-bind="item.title"></span>
				<span class="community-address" ng-bind="item.address"></span>
			</a>
		</li>
		<li class="list-item location-tip-bar" ng-show="showLocationError">
			定位失败，请<a class="retry-location" ng-click="retryLocation()">重试</a>或通过搜索框搜索
		</li>
	</ul>
</div>
<confirm-modal title="modalTitle" tip="modalTip" tip-align="tipAlign" show="showModal" cancel-text="cancelText" ok-text="okText" 
	only-ok-button="onlyOkButton" on-close="onModalClose(state)"></confirm-modal>
<c-loading show="showLoading" tip="正在定位中..." tip-loading="loading"></c-loading>