<div id="auto-location-container">
	<div class="search-container">
<!-- 		<img class="search-icon" src="images/search.png"> -->
		<input class="search-field" type="text" placeholder="请输入小区名称" ng-click="clickSearchField()" />
		<a class="delete" href="javascript:void(0)"></a>
	</div>
	<h1 class="list-title">
		定位到的小区
	</h1>
	<ul>
		<li class="list-item community-item" ng-repeat="item in autoLocationCommunities">
			<a class="list-link" ng-click="changeCommunity(item)">
				<span class="community-title" ng-bind="item.title"></span>
				<span class="community-address" ng-bind="item.address"></span>
			</a>
		</li>
<!-- 		<li class="list-item community-item">
			<a class="list-link">
				<span class="community-title">北京, 万科金域华府</span>
				<span class="community-address">京徽高速边500米</span>
			</a>
		</li>
		<li class="list-item community-item">
			<a class="list-link">
				<span class="community-title">北京, 万科金域华府</span>
				<span class="community-address">京徽高速边500米</span>
			</a>
		</li> -->
		<li class="list-item location-tip-bar">
			定位失败，请<a class="retry-location" ng-click="retryLocation()">重试</a>或通过搜索框搜索
		</li>
	</ul>
</div>

<!-- <div style="
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: #000;
    opacity: 0.5;
">
  <div class="circle" style="
    margin: 0 auto;
    margin-top: 50%;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: solid 3px #9E9A9A;
    border-left-color: #333232;
    -webkit-animation: load 1.1s infinite linear;
">
        </div><div style="
    text-align: center;
    margin-top: 10px;
    color: #fff;
">加载中...</div>
</div> -->