<div id="pay-container">
    <c-nav-bar title="缴费支付"></c-nav-bar>
    <div class="bill-address-bar">
        <div>
            <span class="bill-address-tip">缴费户号</span>
            <span class="community" ng-bind="community"></span>
        </div>
        <div>
            <span class="short-address" ng-bind="address"></span>
        </div>
    </div>
    <div class="pay-bill-list">
        <ul>
            <li class="pay-bill" ng-repeat="bill in otherBillList">
                <div class="fee-type-bar">
                    <span class="fee-type property-fee-type" 
                        ng-if="bill.type==2">物业费</span>
                    <span class="fee-type car-maintenance-fee-type" 
                        ng-if="bill.type==3">车位维护费</span>
                    <span class="fee-type car-port-fee-type" 
                        ng-if="bill.type==4">车位费</span>
                </div>
                <div class="bill-line"></div>
                <div class="date-bar">
                    <span class="bill-date-tip">账期</span>
                    <span class="fee-date" ng-bind="bill.date"></span>
                </div>
                <div class="fee-bar">
                    <span class="fee-tip">应付金额</span>
                    <span class="fee">
                        <span class="fee-number" ng-bind="bill.amount"></span>元
                    </span>
                </div>
            </li>
            <li class="pay-bill bill-spacing" ng-if="wDates&&wDates.length>0">
                <div class="fee-type-bar">
                    <span class="fee-type water-fee-type">水费</span>
                </div>
                <div class="bill-line"></div>
                <div class="date-bar">
                    <span class="bill-date-tip">账期</span>
                    <span class="fee-date" ng-bind="wBillDate"></span>
                </div>
                <div class="fee-bar">
                    <span class="fee-tip">应付金额</span>
                    <span class="fee">
                        <span class="fee-number" ng-bind="waterFee"></span>元
                    </span>
                </div>
            </li>
            <li class="pay-bill bill-spacing" ng-if="eDates&&eDates.length>0">
                <div class="fee-type-bar">
                    <span class="fee-type elec-fee-type">电费</span>
                </div>
                <div class="bill-line"></div>
                <div class="date-bar">
                    <span class="bill-date-tip">账期</span>
                    <span class="fee-date" ng-bind="eBillDate"></span>
                </div>
                <div class="fee-bar">
                    <span class="fee-tip">应付金额</span>
                    <span class="fee">
                        <span class="fee-number" ng-bind="elecFee"></span>元
                    </span>
                </div>
            </li>
        </ul>
    </div>
    <div class="pay-money-bar">
        <span class="pay-money-tip">支付金额</span>
        <span class="pay-money">￥<span ng-bind="totalFee"></span></span>
    </div>
    <div class="pay-type-bar">
        <ul>
            <li>
                <div class="pay-type-item">
                    <span class="pay-type-text">微信支付</span>
                    <a class="pay-type-select"></a>
                </div>
            </li>
        </ul>
    </div>
    <div class="bottom-container">
        <button class="pay-button" ng-click="pay()">确认支付</button>
    </div>
    <c-transparent-mask show="showTransparentMask"></c-transparent-mask>
</div>