<div id="complain_detail">
    <div class="complaint_title">
        <img src="images/icon_07.png" alt="">投诉：{{vm.complain.title}}
    </div>
    <div class="complaint">
        <span class="complaint_time">{{vm.complain.createDate.substring(0,16)}}</span>
        <span class="complaint_detail">{{vm.complain.content}}</span>
    </div>
    <div class="complaint_title" ng-if="vm.complain.state!=0">
        <img src="images/icon_08.png" alt="">物业回复
    </div>
    <!-- <div class="property" ng-if="vm.complain.state!=0">
        <span class="property_detail"></span>
    </div> -->
    <div class="property" ng-if="vm.complain.state != 0">
        <span class="property_time">{{vm.complain.replyTime.substring(0,16)}}</span>
        <span class="property_detail">{{vm.complain.reply}}</span>
    </div>
    <div class="complaint_title" ng-if="vm.complain.state != 0">
        <img src="images/icon_09.png">处理完成
    </div>
</div>