<div id="complain_detail">
    <c-nav-bar title="投诉详情"></c-nav-bar>
    <div class="container-fluid">
        <div id="complain_type" class="complain_detail_list">
            <ul>
                <li>
                    <span class="complain_detail_name">投诉时间</span>
                    <span ng-bind="vm.complain.createDate.substring(0,16)"></span>
                </li>
                <li>
                    <span class="complain_detail_name">投诉标题</span>
                    <span ng-bind="vm.complain.title"></span>
                </li>
                <li>
                    <span class="complain_detail_name">投诉内容</span>
                    <span ng-bind="vm.complain.content"></span>
                </li>
                <li ng-if="vm.complain.community">
                    <span class="complain_detail_name">投诉小区</span>
                    <span><span ng-bind="vm.complain.community"></span>
                    </span>
                </li>
                <li>
                    <span class="complain_detail_name">联系方式</span>
                    <span ng-bind="vm.complain.mobile"></span>
                </li>
                <c-complain-detail complain-detail="vm.complain.replys" show="complainDetailShow" ng-init="complainDetailShow=true"></c-complain-detail>         
            </ul>
        </div>
        <div class="complain_detail_but" ng-hide="vm.complain.state">
            <input class="l_btn" type="button" value="确认解决" ng-click="vm.confirm(vm.complain.id)" ng-disabled="vm.complain.state == 0">
        </div>
    </div>
</div>
<c-loading show="showLoading" tip="正在加载中..." tip-loading="loading"></c-loading>
<c-tip type="success" show="showSuccess" tip="提交成功!" close-time="1500" on-close="onSuccessClose()"></c-tip>
<c-tip type="error" show="showError" tip="提交失败!" close-time="1500" on-close="onTipClose()"></c-tip>