<div id="complain_list">
    <div class="container-fluid nav">
        <div class="rows">
            <div class="col-xs-6">
                <a ui-sref="complainlist" class="under_line">投诉列表</a>
            </div>
            <div class="col-xs-6">
                <a ui-sref="complain-add">我要投诉</a>
            </div>
        </div>
    </div>
    <div ng-if="vm.complains.length == 0" class="container-fluid">
        <div class="icon_err"></div>
        <div class="err_b_font">您还没有发表过投诉建议哦！</div>
        <a ui-sref="complain-add">
            <input type="button" value="我要发表" class="repair_btn">
        </a>
    </div>
    <ul class="item_service" ng-if="vm.complains.length > 0" when-scrolled="vm.load(vm.currentPage+1,vm.pageSize)">
        <div class="contain_down" ng-repeat="complain in vm.complains">
            <li ui-sref="complain-detail({id:complain.id})">
                <div class='date_state'>
                    <span class='date'>{{complain.createDate.substring(0,10)}}</span>
                    <span class='state' ng-if="complain.state == 0">未回复</span>
                    <span class='repliedstate' ng-if="complain.state == 1">已回复</span>
                </div>
                <div class='goods'>{{complain.title}}</div>
            </li>
        </div>
    </ul>
</div>    